# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\1_zzzzzzz\Maktab-51\practice\HW\Bootstrap_project\send_2\for send\MySite_bootstrap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
